body {
  background-color: rgb(196, 193, 193);
}
h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}
.search {
  width: 50%;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  height: 35%;
}
.button {
    padding: 15px 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
  }
  
  .button:hover {background-color: #3e8e41}
  
  /* .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: rgb(173, 173, 173);}
  tr:hover td
{
    border-top:4px solid white;
    border-bottom:4px solid white;
}
  
  th {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
  }